# eclipse files

eclipse/.settings

# visual studio files

msvc6/*.ncb
msvc6/*.opt
msvc6/*.plg
msvc150/.vs
msvc150/Win32

# build files

ansi/
unicode/

eclipse/Debug Win32 ANSI/
eclipse/Release Win32 ANSI/
eclipse/Debug Win32 Unicode/
eclipse/Release Win32 Unicode/
eclipse/Resources
